.btnExplore {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  border: none;
  text-align: center;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
}

.btnExplore:hover {
  cursor: pointer;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.15) 0%,
      /*Début du premier gradient transparent avec une opacité de 15% */
        rgba(255, 255, 255, 0.15) 100%
        /*Fin du premier gradient transparent avec une opacité de 15%*/
    ),
    linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
}

.btnLike {
  cursor: pointer;

  input[type="checkbox"] + svg path:first-of-type {
    fill: url(#linear_gradient);
    stroke: none;
    opacity: 0%;
  }

  input[type="checkbox"]:checked + svg path:first-of-type {
    opacity: 100%;
    transition: opacity 1s ease-in-out;
  }

  input[type="checkbox"] + svg path:last-of-type {
    fill: none;
    stroke: black;
    opacity: 100%;
  }

  input[type="checkbox"]:checked + svg path:last-of-type {
    opacity: 0%;
    transition: opacity 1.5s ease-in-out;
  }

  input[type="checkbox"] {
    display: none;
  }
}

.order {
  display: flex;
  justify-content: center;

  h2 {
    visibility: hidden;
    width: 0;
  }
}
