body {
  font-family: $text-font-family;
}

.logo {
  font-family: $logo-font-family;
}

.title {
  @include font-title;
}

.card-title {
  @include font-subtitle;
}

.card-subtitle {
  @include font-text-card;
}

.explore-text {
  @include font-text-explore;
}

.btnFont {
  @include font-btn;
  color: white;
}

.workText {
  @include font-btn;
}
