@mixin font-title {
  font-size: 24px;
  font-weight: 700;
}

@mixin font-subtitle {
  font-size: 18px;
  font-weight: 700;
}

@mixin font-large-logo {
  font-size: 30px;
  font-weight: 400;
}

@mixin font-small-logo {
  font-size: 18px;
  font-weight: 400;
}

@mixin font-restaurant-title {
  font-size: 28px;
  font-weight: 400;
}

@mixin font-restaurant-subtitle {
  font-size: 16px;
  font-weight: 300;
}

@mixin font-menu-title {
  font-size: 18px;
  font-weight: 500;
}

@mixin font-item-title {
  font-size: 18px;
  font-weight: 500;
}

@mixin font-item-content {
  font-size: 15px;
  font-weight: 300;
}

@mixin font-item-price {
  font-size: 15px;
  font-weight: 700;
}

@mixin font-text-explore {
  font-size: 18px;
  font-weight: 300;
}

@mixin font-text-card {
  font-size: 17px;
  font-weight: 300;
}

@mixin font-btn {
  font-size: 16px;
  font-weight: 500;
}

@mixin font-new {
  font-size: 14px;
  font-weight: 500;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
