$light-green: #99e2d0;
$dark-green: #008766;
$light-blue: #89c8fa;
$dark-blue: #003a68;
$purple: #9356dc;
$black: #101010;
$light-grey: #f6f6f6;
$soft-grey: #eaeaea;
$grey: #7e7e7e;
$dark-grey: #353535;
$text-font-family: Roboto;
$logo-font-family: Shrikhand;
