html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Roboto;
}

.logo {
  font-family: Shrikhand;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
}

.card-subtitle {
  font-size: 17px;
  font-weight: 300;
}

.explore-text {
  font-size: 18px;
  font-weight: 300;
}

.btnFont {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.workText {
  font-size: 16px;
  font-weight: 500;
}

.restaurant-title {
  font-size: 28px;
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: column;
}
header .logo-header {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  padding: 23px 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
header .input {
  display: flex;
  gap: 17px;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #353535;
  background-color: #eaeaea;
  width: 100%;
}
header .input input {
  background-color: inherit;
  border: none;
  width: 100px;
}
header .header-restaurant {
  display: flex;
  flex-direction: row;
  padding: 23px 17px;
  justify-content: center;
}
header .header-restaurant .logo {
  font-size: 30px;
  font-weight: 400;
}
header .header-restaurant i {
  position: absolute;
  left: 23px;
  font-size: 30px;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px;
  color: white;
}
@media (min-width: 1280px) {
  footer {
    flex-direction: row-reverse;
    gap: 32px;
    padding: 60px 25px 30px;
  }
}
footer .logo-footer {
  font-size: 18px;
  font-weight: 400;
  margin-right: 30px;
}
footer .footer-items {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer-items li:nth-child(2n) {
  margin-right: 30px;
}
footer .footer-items a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
footer .footer-items a i {
  width: 11px;
}
footer .footer-items a p {
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 1280px) {
  footer .footer-items {
    flex-direction: row;
    gap: 14px;
  }
}

.btnExplore {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, #9356dc, #ff79da);
  border: none;
  text-align: center;
}

.btnExplore:hover {
  cursor: pointer;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 1280px) {
  .restaurants-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 100px;
  }
}
.restaurants-cards .card {
  background-color: white;
  border-radius: 20px;
}
.restaurants-cards .card .card-image {
  position: relative;
}
.restaurants-cards .card .card-image img {
  object-fit: cover;
  width: 100%;
  height: 174px;
  align-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants-cards .card .card-image .badge {
  position: absolute;
  right: 15px;
  top: 12px;
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  font-weight: 500;
  color: #008766;
}
.restaurants-cards .card .card-content {
  padding: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants-cards .card .card-content h3,
.restaurants-cards .card .card-content p {
  margin-bottom: 5px;
}
.restaurants-cards .card .card-content .card-like {
  cursor: pointer;
}
.restaurants-cards .card .card-content .card-like input[type=checkbox]:checked + svg path {
  fill: none;
  stroke: black;
}
.restaurants-cards .card .card-content .card-like input[type=checkbox] {
  display: none;
}

.explore {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
  padding: 45px 0;
  background-color: #f6f6f6;
}
.explore h1 {
  padding: 0 45px;
}
.explore .explore-text {
  padding: 0 30px;
}
@media (min-width: 1280px) {
  .explore {
    padding: 30px 0;
  }
}

.working {
  padding: 50px 20px 70px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 1280px) {
  .working {
    padding: 50px 180px;
  }
}

.working-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 12px;
}
@media (min-width: 1280px) {
  .working-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36.51px;
  }
}

.working-step {
  display: flex;
  gap: 25px;
  align-items: center;
  text-align: center;
  height: 72.379px;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  padding-left: 35px;
}
.working-step .step-number {
  background-color: #9356dc;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
}
.working-step i {
  color: #7e7e7e;
  font-size: larger;
}
.working-step .iStore {
  color: #9356dc;
}

.restaurants {
  padding: 50px 20px 70px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
@media (min-width: 1280px) {
  .restaurants {
    padding: 30px 180px;
  }
}

main .main-image {
  height: 235px;
}
main .main-image img {
  width: 100%;
  object-fit: cover;
  height: 275px;
  position: relative;
  z-index: -1;
}
main .main-restaurant {
  padding: 40px 15px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #f6f6f6;
}
@media (min-width: 1280px) {
  main .main-restaurant {
    margin: 0 192px;
    padding: 50px 180px 40px;
  }
}
main .main-restaurant .restaurant-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .main-restaurant .restaurant-name .card-like {
  cursor: pointer;
}
main .main-restaurant .restaurant-name .card-like input[type=checkbox]:checked + svg path {
  fill: url(#linear_gradient);
}
main .main-restaurant .restaurant-name .card-like input[type=checkbox] {
  display: none;
}
main .main-restaurant .restaurant-name .card-like input[type=checkbox]:not(:checked) + svg path {
  fill: none;
  stroke: black;
}
@media (min-width: 1280px) {
  main .main-restaurant .restaurant-name {
    justify-content: center;
    gap: 22px;
  }
}
main .main-restaurant .restaurant-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main .main-restaurant .restaurant-menu .menu-title {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
main .main-restaurant .restaurant-menu .menu-title h2 {
  font-size: 16px;
  font-weight: 300;
}
main .main-restaurant .restaurant-menu .menu-title span {
  display: block;
  width: 40px;
  border-bottom: solid 3px #99e2d0;
}
main .main-restaurant .restaurant-menu .menu-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main .main-restaurant .restaurant-menu .menu-cards .item-label {
  cursor: pointer;
  flex: 1;
  display: flex;
  flex-direction: row;
}
main .main-restaurant .restaurant-menu .menu-cards .item-label input[type=checkbox] {
  display: none;
}
main .main-restaurant .restaurant-menu .menu-cards .item-label .card-item {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
main .main-restaurant .restaurant-menu .menu-cards .item-label .card-item .item-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
main .main-restaurant .restaurant-menu .menu-cards .item-label .card-item .item-content h3 {
  font-size: 18px;
  font-weight: 500;
}
main .main-restaurant .restaurant-menu .menu-cards .item-label .card-item .item-content p {
  font-size: 15px;
  font-weight: 300;
}
main .main-restaurant .restaurant-menu .menu-cards .item-label .card-item .item-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 15px;
  font-weight: 700;
}
main .main-restaurant .restaurant-menu .menu-cards .item-label .item-checked {
  background-color: #99e2d0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 0;
  transition: width 0.2s;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
main .main-restaurant .restaurant-menu .menu-cards .item-label .item-checked i {
  display: none;
}
main .main-restaurant .restaurant-menu .menu-cards .item-label input[type=checkbox]:checked + .card-item {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
main .main-restaurant .restaurant-menu .menu-cards .item-label input[type=checkbox]:checked + .card-item + .item-checked {
  background-color: #99e2d0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  transition: width 0.2s;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
main .main-restaurant .restaurant-menu .menu-cards .item-label input[type=checkbox]:checked + .card-item + .item-checked i {
  display: block;
  font-size: 12px;
  font-weight: bolder;
  padding: 4px;
  background-color: white;
  border-radius: 50%;
  color: #99e2d0;
}
main .main-restaurant .order {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
