footer {
  background-color: $dark-grey;
  @include flex-column;
  gap: 16px;
  padding: 22px 25px;
  color: white;
  @media (min-width: 1280px) {
    flex-direction: row-reverse;
    gap: 32px;
    padding: 60px 25px 30px;
  }

  .logo-footer {
    @include font-small-logo;
    margin-right: 30px;
  }

  .footer-items {
    @include flex-column;
    gap: 7px;

    li:nth-child(2n) {
      margin-right: 30px;
    }

    a {
      @include flex-row;
      align-items: center;
      gap: 16px;

      i {
        width: 11px;
      }

      p {
        @include font-btn;
      }
    }
    @media (min-width: 1280px) {
      flex-direction: row;
      gap: 14px;
    }
  }
}
