header {
  display: flex;
  flex-direction: column;

  .logo-header {
    @include font-large-logo;
    text-align: center;
    padding: 23px 0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    position: relative;
  }

  .input {
    display: flex;
    gap: 17px;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: $dark-grey;
    background-color: $soft-grey;
    width: 100%;

    input {
      background-color: inherit;
      border: none;
      width: 100px;
    }
  }

  .header-restaurant {
    @include flex-row;
    padding: 23px 17px;
    justify-content: center;

    .logo {
      @include font-large-logo;
    }

    i {
      position: absolute;
      left: 23px;
      font-size: 30px;
    }
  }
}
