main {
  .main-image {
    height: 235px;

    img {
      width: 100%;
      object-fit: cover;
      height: 275px;
      position: relative;
      z-index: -1;
    }
  }

  .main-restaurant {
    padding: 40px 15px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    @include flex-column;
    gap: 40px;
    background-color: $light-grey;

    @media (min-width: 1280px) {
      margin: 0 192px;
      padding: 50px 180px 40px;
    }

    .restaurant-name {
      @include flex-row;
      justify-content: space-between;

      @media (min-width: 1280px) {
        justify-content: center;
        gap: 22px;
      }
    }

    @keyframes menuAnimation {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }

    .menu-entrees {
      animation: menuAnimation 0.3s ease forwards;
    }

    .menu-plats {
      animation: menuAnimation 0.6s ease forwards;
    }

    .menu-desserts {
      animation: menuAnimation 0.9s ease forwards;
    }

    .restaurant-menu {
      @include flex-column;
      gap: 9px;

      h2 {
        @include font-restaurant-subtitle;
      }

      span {
        display: block;
        width: 40px;
        border-bottom: solid 3px $light-green;
        margin-bottom: 3px;
      }

      .menu-cards {
        @include flex-column;
        gap: 12px;

        .item-label {
          cursor: pointer;
          flex: 1;
          @include flex-row;
          position: relative;
          overflow: hidden;
          border-radius: 15px;
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
          background-color: white;

          input[type="checkbox"] {
            display: none;
          }

          .card-item {
            @include flex-row;
            justify-content: space-between;
            padding: 15px;
            box-sizing: border-box;
            width: 100%;
            transition: width 0.4s;

            .item-content {
              @include flex-column;
              gap: 5px;
              overflow: hidden;
              margin-right: 15px;

              h3 {
                @include font-item-title;
                @include text-item;
                height: 21px;
              }

              p {
                @include font-item-content;
                @include text-item;
                height: 18px;
              }
            }

            .item-price {
              @include flex-column;
              justify-content: flex-end;
              @include font-item-price;
              height: 41px;
            }
          }

          .item-checked {
            background-color: $light-green;
            @include flex-row;
            justify-content: center;
            align-items: center;
            width: 60px;
            position: absolute;
            right: -60px;
            height: 100%;
            transition: right 0.4s;

            i {
              display: block;
              font-size: 12px;
              font-weight: bolder;
              padding: 4px;
              background-color: white;
              border-radius: 50%;
              color: $light-green;
            }
          }

          input[type="checkbox"]:checked + .card-item {
            width: calc(100% - 60px);
            transition: width 0.4s;
          }

          input[type="checkbox"]:checked + .card-item + .item-checked {
            right: 0px;
            transition: right 0.4s;
          }
        }
      }
    }

    .order {
      display: flex;
      justify-content: center;

      h2 {
        visibility: hidden;
        width: 0;
      }
    }
  }
}
